<launch>
    <param name="display_def_file" value="$(find loco_menu)/displays/terminal_v1.yaml"/>
    <node pkg="loco_menu" type="menu.py" name="loco_menu" respawn="true" respawn_delay="30">
        <param name="menu_def_file" value="$(find loco_menu)/menus/first_menu.yaml"/>
    </node>
    <node pkg="loco_menu" type="term_display.py" name="loco_display" respawn="true" respawn_delay="30"></node>
</launch>
