<launch>
    <arg name="menu_start_delay" default="3.0" /> 
    <node pkg="loco_menu" type="loco_menu_node.py" name="loco_menu" respawn="true" respawn_delay="30" output="screen" launch-prefix="bash -c 'sleep $(arg menu_start_delay); $0 $@' " >
        <param name="menu_def_file" value="$(find loco_menu)/menus/basic_menu.yaml"/>
    </node>
    
</launch>
